@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fontdifferent">Welcome to the Web Sacrament Planning Tool</h1>
    <img src="~/images/attendance-importance.png" alt="Attendace quote" />
</div>
