@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The purpose of this web site is just for learning .NET Core MVC for the class CIT365</p>
<p>The content in this page is not true or related to the Church of Jesus Christ of Latter-Day Saints</p>